<form method="post" action="/signin" class="form_auth">
    <h1 class="title">Sign in</h1>
    <hr>
    {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <label for="email"></label>
    <input class="input" name="email" type="text" value="test@yopmail.com">
    <label for="password"></label>
    <input class="input" name="password" type="password" value="123">

    <button class="btn">go !</button>
    <hr>
    
    <p>
        No account yet? <a class="link" href="/signup">sign up!</a>
    </p>
</form>