<form method="post" action="/signup" class="form_auth" >
{{!-- enctype="multipart/form-data" --}}
    <h1 class="title">Sign up</h1>
    <hr>
    {{#if errorMessage}}
        <div class="error-message">{{ errorMessage }}</div>
    {{/if}}
    <label for="username">name</label>
    <input class="input" name="username" type="text" value="Franck" required>
    <label for="lastname">lastname</label>
    <input class="input" name="lastname" type="text" value="Mama" required>
    <label for="email">email</label>
    <input class="input" name="email" type="text" value="test@yopmail.com" required>
    <label for="password">password</label>
    <input class="input" name="password" type="password" value="123" required>
    <div class="row">
        <label for="avatar">avatar</label>
        {{!-- <i id="avatar-icon" class="is-clickable toggle-active fa fa-user fa-lg"></i> --}}
        {{!-- <input id="input-file" type="file" class="is-hidden" name="avatar"> --}}
        <input id="input-file" type="file"  name="avatar">
    </div>
    <button class="btn">Go !</button>
    <hr>
    <p>
        Already have an account? <a class="link" href="/signin">sign in!</a>
    </p>
</form>