<<<<<<< HEAD
<div>TRIPS PAGE <a href="/logout">logout</a></div>
<hr>
{{!-- {{#unless}}
{{/unless}} --}}

<ul>
{{#each trips}}
<li><a href="/my-trip/{{this._id}}">{{this.title}}</a></li>
{{/each}}
</ul>
=======
<div>
    {{> trips_display}}
</div>
<div>
    {{!-- cityToVisit.city --}}
    {{!-- cityOrigin.date - cityToVisit.date --}}
    {{!-- cityToVisit.country --}}
</div>
>>>>>>> b961746bf8feb408bcf373b2742160f1dc684e11
