
  <div class="main-container">
    <div class="trip_all">
    <div>
        <div id="all" class="">
            <div id="timeline" class="trips-container start ">
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e46714e8c129b0b04a35370/edit-my-trip"><img src="https://images.unsplash.com/photo-1513960648173-aaa1db8ea836?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e46714e8c129b0b04a35370"></a></div>
                        <div class="title-container"><a href="/my-trip/5e46714e8c129b0b04a35370/edit-my-trip">
                                <h3>Angola Trip</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Luanda</h4>
                        <i id="5e46714e8c129b0b04a35370" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e46721e066c2b220834ca2b/edit-my-trip"><img src="https://images.unsplash.com/photo-1528181304800-259b08848526?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e46721e066c2b220834ca2b"></a></div>
                        <div class="title-container"><a href="/my-trip/5e46721e066c2b220834ca2b/edit-my-trip">
                                <h3>Friends Trip</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Phuket</h4>
                        <i id="5e46721e066c2b220834ca2b" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e467275066c2b220834ca2c/edit-my-trip"><img src="https://images.unsplash.com/photo-1503192851959-c6da8ac80cff?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e467275066c2b220834ca2c"></a></div>
                        <div class="title-container"><a href="/my-trip/5e467275066c2b220834ca2c/edit-my-trip">
                                <h3>Cubacabana</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Havana</h4>
                        <i id="5e467275066c2b220834ca2c" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e4675166dda3332e82ccdd6/edit-my-trip"><img src="https://images.unsplash.com/photo-1504829857797-ddff29c27927?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e4675166dda3332e82ccdd6"></a></div>
                        <div class="title-container"><a href="/my-trip/5e4675166dda3332e82ccdd6/edit-my-trip">
                                <h3>Iceland</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Reykjavik</h4>
                        <i id="5e4675166dda3332e82ccdd6" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e4675516dda3332e82ccdd7/edit-my-trip"><img src="https://images.unsplash.com/photo-1501979376754-2ff867a4f659?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e4675516dda3332e82ccdd7"></a></div>
                        <div class="title-container"><a href="/my-trip/5e4675516dda3332e82ccdd7/edit-my-trip">
                                <h3>USA - Andrew</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Marseille - USA</h4>
                        <i id="5e4675516dda3332e82ccdd7" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e4676106dda3332e82ccdd8/edit-my-trip"><img src="https://images.unsplash.com/photo-1441484295955-db07de1fdbad?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e4676106dda3332e82ccdd8"></a></div>
                        <div class="title-container"><a href="/my-trip/5e4676106dda3332e82ccdd8/edit-my-trip">
                                <h3>Family visit</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Santiago</h4>
                        <i id="5e4676106dda3332e82ccdd8" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e46805c4c0b7b3630d345c5/edit-my-trip"><img src="https://images.unsplash.com/photo-1555881400-74d7acaacd8b?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e46805c4c0b7b3630d345c5"></a></div>
                        <div class="title-container"><a href="/my-trip/5e46805c4c0b7b3630d345c5/edit-my-trip">
                                <h3>Valentine Trip</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Porto</h4>
                        <i id="5e46805c4c0b7b3630d345c5" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e4681ab4c0b7b3630d345c6/edit-my-trip"><img src="https://images.unsplash.com/photo-1517521741901-07255c9dbb0f?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e4681ab4c0b7b3630d345c6"></a></div>
                        <div class="title-container"><a href="/my-trip/5e4681ab4c0b7b3630d345c6/edit-my-trip">
                                <h3>My Senegal Trip</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Dakar</h4>
                        <i id="5e4681ab4c0b7b3630d345c6" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/my-trip/5e468abe4c0b7b3630d345c7/edit-my-trip"><img src="https://images.unsplash.com/photo-1574767027902-00bd97ef4ea5?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=200&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjExNTAyN30" id="5e468abe4c0b7b3630d345c7"></a></div>
                        <div class="title-container"><a href="/my-trip/5e468abe4c0b7b3630d345c7/edit-my-trip">
                                <h3>Carnival</h3>
                            </a></div>
                        <div class="destination-container">
                            <h4>Paris - Diamant</h4>
                        <i id="5e468abe4c0b7b3630d345c7" class="fas fa-angle-down"></i>
                        </div>
                         
                    </div>
        
                </div>
        
                <div class="trip-container flex vcenter">
                    <div class="left">
                        <div class="image-container"><a href="/create-a-trip"><img src="/assets/img/default_trip.jpg"></a></div>
                        <div class="title-container"><a href="/create-a-trip">
                                <h3>Create a trip !</h3>
                            </a></div>
                        <div class="destination-container">
                            <i id="" class="fas fa-angle-down"></i>
                        </div>
                    </div>
                </div>
        
            </div>
            <div id="details" class="flex row is_hidden">
                <div class="details-top flex"></div>
                <h4 class="dates flex"></h4>
                <h1 class="trip_name flex"><a href="/create-a-trip">create a new trip</a></h1>
                <h3 class="place flex"></h3>
                <div class="under_title flex column">
                    <div class="acco_box flex">
                        <span class="accommodations flex"></span>
                        <span class="accommodations_city flex"></span>
                    </div>
                    <a target="_blank" id="tickets" href=""></a><div class="trans_box flex">
                        <span class="transports flex"></span>
                    </div>
                    <h2 class="price flex"></h2>
                </div>
                <div class="details-bottom grid">
        
                    <div id="necessaryThings-box" class="box-detail ">
                        <h3>to don't forget</h3>
                        <ul id="necessaryThings"></ul>
                    </div>
                    <div id="activities-box" class="box-detail ">
                        <h3>activities</h3>
                        <ul id="activities"></ul>
                    </div>
                    <div class="box-detail ">
                        <h3>notes</h3>
                        <p id="notes"></p>
                    </div>
                </div>
        
            </div>
        
        
        </div>
        
        <div id="image">
            <img id="background" class="kenburns-left" src="https://source.unsplash.com/1600x900/?travel">
             </div>
        <div id="image">
            <img id="layer" src="./assets/img/layer3.png">
        </div>
        
        
    </div>
    <div>
        <div id="information_trip" class="flex center">
            <h3 class="trip_name flex"></h3>
            <span class="trip_date flex"></span>
        </div>    </div>
</div>


  </div>

