/* FONT:
titles: font-family: 'Raleway', sans-serif;
paragraph: font-family: 'Montserrat', sansfont-family: 'Raleway', sans-serif;-serif; */
body {
  height: 100%;
  width: 100%;
}

.container1 {
  position: relative;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 3.5em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1em;
}

h4 {
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

span {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  margin-top: 50px;
  position: relative;
  height: 90vh;
}

/* SIGNIN - SIGNUP */
@media screen and (min-width: 500px) {
  .form_auth {
    margin: 30px auto;
    width: 380px;
  }
}

@media screen and (max-width: 500px) {
  .form_auth {
    margin: 30px auto;
    width: 300px;
  }
}

.form_auth h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #50514f;
  padding-top: 20px;
  font-size: 2em;
}

.form_auth p {
  color: #50514f;
  margin-top: 20px;
}

.form_auth label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  margin-top: 5px;
}

.form_auth input,
.form_auth button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

.form_auth .input {
  border: 1px solid #959694;
  border-radius: 3px;
}

.form_auth button {
  background: #247ba0;
  border: 1px solid #247ba0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease background;
  transition: 0.3s ease background;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

.form_auth button:hover {
  background: #fff;
  color: #247ba0;
  -webkit-transition: 0.3s ease background;
  transition: 0.3s ease background;
}

.error-message {
  background: #f02b63;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
}

/* NAV-BAR */
.header {
  overflow-y: hidden;
  width: 100%;
  position: fixed;
  z-index: 100000;
  top: 0;
  background-color: #247ba0;
  height: 50px;
}

.flexed-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/* .header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(36, 123, 160, 1);
    z-index: 2;
    height: 50px;
  } */

.nav-wrapper {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 50px;
  -webkit-box-shadow: 0px 2px 20px #50514f;
  box-shadow: 0px 2px 20px #50514f;
}

.nav-wrapper a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 0.8rem;
}
/* .nav-wrapper {
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 2px 20px rgba(80, 81, 79, 1);
  } */

.nav-link-wrapper {
  width: 80%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-link {
  list-style: none;
}

.nav-item {
  padding-right: 10px;
}

/* ALL-TRIPS PAGE */
.trip_all {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.information-trip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.information {
  font-family: "Montserrat", sans-serif;
  text-align: right;
}

.trips-container {
  background-color: #fff;
  height: 200vh;
  width: 200px;
  font-family: "Montserrat", sans-serif;
  padding: 0 3vw;
}

.image-container {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  -webkit-box-shadow: 2px 2px 20px #50514f;
  box-shadow: 2px 2px 20px #50514f;
  list-style: none;
}

.image-container img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#all {
  display: flex;
}
/* .image-container:hover{
width: 10000px;} */
.title-container {
  width: 100%;
  text-align: center;
  list-style: none;
}

.title-container a {
  text-decoration: none;
  color: #50514f;
  font-family: "Raleway", sans-serif;
}

.destination-container {
  text-align: center;
  margin-bottom: 30px;
}

.vcenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.start {
  -ms-flex-line-pack: start;
  align-content: start;
}

.trip-container .right > a {
  text-decoration: none;
}

#details {
  color: rgba(80, 81, 79, 1);
  position: fixed;
  left: 260px;
  z-index: 1000;
  background-color: rgba(255, 224, 102, 0.8);
  width: 40vw;
  height: 100vh;
  padding: 1vw;
  font-family: "Montserrat", sans-serif;
}

.row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.column {
  align-items: column;
}

.is_hidden {
  visibility: hidden;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#timeline {
  z-index: 1000;
}

#image #background {
  -o-object-fit: cover;
  object-fit: cover;
  top: 0px;
  z-index: 0;
}

#image #layer {
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: left;
  object-position: left;
  margin-left: 200px;
}

#image img {
  position: fixed;
  z-index: 100;
  top: 0;
  height: 100%;
  width: 100%;
}

.kenburns-right {
  -webkit-animation: kenburns-right 5s linear both;
  animation: kenburns-right 5s linear both;
}

.kenburns-left {
  -webkit-animation: kenburns-left 5s linear both;
  animation: kenburns-left 5s linear both;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-right {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
    transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.1) translateX(5px);
    transform: scale(1.1) translateX(5px);
    -webkit-transform-origin: right;
    transform-origin: right;
  }
}

@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 84% 50%;
    transform-origin: 84% 50%;
  }
  100% {
    -webkit-transform: scale(1.1) translateX(5px);
    transform: scale(1.1) translateX(5px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}

@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(600px);
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.flex {
  display: flex;
}
/* TRIP FORM */

.trip_form {
  background-image: url("/assets/img/map_1.jpg");
  background-size: cover;
  margin-top: -20px;
  overflow-y: auto;
  height: 100vh;
}

.grid {
  display: grid;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 1vw;
  row-gap: 1vw;
}

.box {
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 224, 102, 0.753);
  box-shadow: 10px 10px 45px 6px rgba(0, 0, 0, 0.75);
  padding: 1vw;
  overflow-x: hidden;
}

.box h3,
legend {
  font-family: "Raleway", sans-serif;
}

.box h3 {
  margin: 0.5em 0;
  border-bottom: 2px dotted rgba(80, 81, 79, 1);
  color: rgba(80, 81, 79, 1);
}

.box h4 {
  font-size: 0.9em;
  margin: 1vh 0;
}

.box span {
  font-size: 0.7em;
}

.box legend {
  padding-right: 5px;
}

.box label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8em;
  box-sizing: content-box;
}

.box input {
  border: none;
  border-radius: 2px;
  padding: 2px;
  margin: 2px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(255, 224, 102, 0.9);
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2);
  /* min-width: 140px; */
}

.box fieldset {
  margin: 1vw;
}

.form-page {
  margin: 0 3vw;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  padding: 2.5vw 0;
}

.title input {
  font-family: "Montserrat", sans-serif;
  border: none;
  border-radius: 4px;
  font-size: 1.5em;
  text-align: center;
  color: white;
  font-weight: bolder;
  background-color: rgba(45, 46, 45, 0.5);
  box-shadow: 10px 10px 45px 6px rgba(0, 0, 0, 0.75);
  /* text-shadow: white 0px 0px 10px; */
  text-shadow: 0.05em 0 rgb(45, 46, 45), 0 0.05em rgb(45, 46, 45),
    -0.05em 0 rgb(45, 46, 45), 0 -0.05em rgb(45, 46, 45),
    -0.05em -0.05em rgb(45, 46, 45), -0.05em 0.05em rgb(45, 46, 45),
    0.05em -0.05em rgb(45, 46, 45), 0.05em 0.05em rgb(45, 46, 45);
}

.side-by-side {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.details-bottom.grid {
  margin: 5vh 0;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}

.details-bottom li {
  list-style: inside;
  list-style-type: none;
  text-align: center;
}

.acco_box.flex {
  position: absolute;
  top: 0;
  margin-top: 1vw;
}

#tickets {
  text-decoration: none;
}

.trans_box {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2em;
  margin: 1vw;
  letter-spacing: 2vw;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

#details .price.flex {
  position: absolute;
  bottom: 6vh;
  right: 0;
  margin: 1vw;
}

.box-detail {
  border: 1px rgba(0, 0, 0, 0.75) solid;
  border-radius: 5px;
  /* background-color: rgba(255, 224, 102, 0.753); */
  /* box-shadow: 10px 10px 45px 6px rgba(0, 0, 0, 0.75); */
  padding: 1vw;
  overflow-x: hidden;
}
.box-detail h3 {
  margin-bottom: 1vh;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .side-by-side {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .title input {
    margin-top: 20px;
  }
}

.wrap-1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
}

.wrap-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.adress {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: repeat(6,1fr);
}

.fas.fa-angle-down {
  visibility: hidden;
  font-size: 2em;
}

.off {
  visibility: hidden;
}

#details h1 a {
  text-align: center;
  color: black;
}

.line {
  align-items: center;
  justify-content: flex-end;
  margin-top: 5vh;
}

hr#line {
  display: flex;
  width: 25vw;
}

@media only screen and (max-width: 450px) {
  #timeline {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    max-height: 190px;
  }
  .box-detail{
    font-size: 0.8em;
    
  }
  #all {
    display: block;
  }

  .trips-container {
    width: 100vw;
    padding: 1vh 0 0;
  }

  #image {
    visibility: hidden;
  }
  .image-container {
    margin: 0 20px;
    width: 100px;
    height: 100px;
  }
  #details {
    background: linear-gradient(
      rgba(255, 224, 102, 0),
      rgba(255, 224, 102, 0.9)
    );
    display: block;
    height: 72vh;
    width: 100vw;
    left: 0;
  }
  .is_hidden {
    visibility: visible;
  }

  .slide-in {
    -webkit-animation: slide-in-bck-center 0.7s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  .fas.fa-angle-down {
    visibility: visible;
    -webkit-animation: blink-1 5s infinite both;
    animation: blink-1 5s infinite both;
  }

  .acco_box.flex {
    /* position: relative; */
    bottom: 7vh;
    top: unset;
    margin-bottom: 1vw;
  }

  .fas.fa-angle-down:hover {
    transform: scale(1.5);
    visibility: visible;
    -webkit-animation: unset;
    animation: unset;
  }

h1{
  font-size: 2em
}

  #details h1 a {
    font-size: 1em;
  }
}

.adress {
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: repeat(6, 1fr);
}

.accomodation {
  flex-direction: column;
}

.accomodation label {
  margin-bottom: 1vh;
}

.accomodation select {
  width: 40%;
  background-color: rgba(255, 224, 102, 0.9);
  border: none;
}

.activities-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
}

.dont-forget {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

@media only screen and (max-width: 700px) {
  .side-by-side {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .activities-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
  }
}

.activities {
  width: 100%;
}

.activities textarea {
  width: 100%;
  border: none;
  background-color: rgba(255, 224, 102, 0.9);
  padding: 1vw;
  font-family: "Montserrat", sans-serif;
  /* box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01),
    0px 0px 8px rgba(0, 0, 0, 0.2); */
}

.begin-trip-btn {
  font-family: "Raleway", sans-serif;
  margin: 4vh 35%;
  width: 30%;
  height: 3em;
  border-radius: 4px;
  border: none;
  box-shadow: 10px 10px 45px 6px rgba(0, 0, 0, 0.75);
  font-size: 1em;
  background-color: rgba(36, 123, 160, 0.95);
  color: #fff;
  font-weight: bolder;
}

.edit-btn {
  font-family: "Raleway", sans-serif;
  width: 8em;
  height: 3em;
  border-radius: 4px;
  border: none;
  box-shadow: 10px 10px 45px 6px rgba(0, 0, 0, 0.75);
  font-size: 1em;
  background-color: rgba(36, 123, 160, 0.95);
  color: #fff;
  font-weight: bolder;
  margin:1em;
}

.delete-btn {
  width: 8em;
  height: 3em;
  border-radius: 4px;
  border: none;
  box-shadow: 10px 10px 45px 6px rgba(0, 0, 0, 0.75);
  background-color: rgba(242, 95, 92, 0.95);
  margin:1em;
  text-align: center;
  padding-top: 0.8em;
}

.delete-btn a {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  color: #fff;
  font-weight: bolder;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  align-self: center;
}

@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
