<select name="id_tags" id="tags" class="select">
    <option value="No trip" selected>Choose a step Ex:{{sneaker.idStep.city}}</option>
    {{#each tripStep}}
    <option value="{{this._id}}">{{this.city}}</option>
    {{/each}}
</select>