  <header class="header">
    <nav class="nav-wrapper flexed-item">
      <div class="nav-link-wrapper flexed-item">
        <div class="nav-logo">
          <a href="/" class="flexed-item">
            <span class="logo-item circle"></span>
            
            <h2 class="logo-item"><i class="fas fa-suitcase"></i> TRIP-ROO</h2>
          </a>
        </div>
        <ul class="nav-link flexed-item">
          {{#if isLoggedIn}}
          <li class="nav-item animated-link">
            <a href="/all-trips">My Trips</a>
          </li>
          <li class="nav-item animated-link">
            <a href="/create-a-trip">New Trip</a>
          </li>
          {{/if}}
        </ul>
      </div>
      <div class="flexed-item nav-end">
        {{#unless isLoggedIn}}
        <a  href="/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Sign in</span>
        </a>
        {{/unless}}
        {{#if isLoggedIn}}
        <a  href="/logout" id="nav_logout" class="button-ternary flexed-item nav-end-item">
          <span class="btn-text">Log out</span>
        </a>
        {{/if}}
      </div>
    </nav>
  </header>
