<ul class="trips-container">
{{#each trips}}
    <li class="image-container"><a href="/my-trip/{{this._id}}"><img src="{{this.image}}"></a></li>
    <li class="title-container"><a href="/my-trip/{{this._id}}">{{this.title}}</a></li>
{{/each}}
<li class="image-container"><a href="/create-a-trip"><img src="/assets/img/default_trip.jpg"></a></li>
<li class="title-container"><a href="/create-a-trip">Create a trip!</a></li>
</ul>