<form method="post" action="" class="trip_form">
    <h1 class="title">Accommodation</h1>

    <label for="name">Name</label>
    <input type="text" name="name" class="input" value="Hotel Bahia">

    <div>
        <label for="idStep">Place</label>
        {{> form_tripStep_select}}
    </div>

    <label for="checkIn">Checkin</label>
    <input type="date" name="chekIn" class="input">

    <label for="checkOut">Checkout</label>
    <input type="date" name="chekOut" class="input">

    <label for="price">Price</label>
    <input type="number" name="price" class="input">

    <label for="email">Contact email</label>
    <input type="email" name="email" class="input">

    <label for="telephone">Contact phone</label>
    <input type="number" name="telephone" class="input">

    <div>
        <p>Address:</p>
        <label for="address_number">Number</label>
        <input type="number" name="address_number" value="23">
        <label for="address_street">Street</label>
        <input type="text" name="address_street" value="Sebastian Elcano"> 
    </div>

    <label for="notes">Side notes</label>
    <textarea name="notes" id="notes" cols="30" rows="10"></textarea>

    <button class="button">Create</button>
    
</form>