<div class="title"><span>Trip :</span><span></span>My new trip</div>
<div class="box-container flex">
    <div class="box flex">
        <div class="inside-box"></div>
        <div class="inside-box"></div>
    </div>
    <div class="box flex">
        <div class="inside-box"></div>
        <div class="inside-box"></div>
    </div>
    <div class="box flex">
        <div class="inside-box"></div>
    </div>
</div>