<form method="post" action="create-a-trip" class="trip_form">
    <div class="form-page flex">
        <div class="title">
            <input class="input" name="trip_name" type="text" value="My Trip Name">
        </div>
        <div class="box-container grid">
            <div class="box grid side-by-side">
                <div class="inside-box origin">
                    <h3>Depart</h3>
                    <div class="wrap-1">
                    <label for="dateDepart">Date:</label>
                    <input type="datetime-local" id="dateDepart" name="dateDepart" value="{{#now}}{{/now}}"
                        min="2020-01-07T00:00" max="2050-06-14T00:00">
                    <label for="fromCity">City:</label>
                    <input class="input" name="fromCity" type="text">
                    <label for="fromCountry">Country:</label>
                    <input class="input country" name="fromCountry" type="text" list="fromCountry" required>
                    <datalist class="input listCountry" name="fromCountry" id="fromCountry">
                      
                    </datalist>
                    </div>
                    <fieldset>
                        <legend>To go:</legend>

                        <div>
                            <input type="checkbox" value="plane" name="transport_type_go">
                            <label for="plane">plane</label>
                        </div>

                        <div>
                            <input type="checkbox" value="bus" name="transport_type_go">
                            <label for="bus">bus</label>
                        </div>

                        <div>
                            <input type="checkbox" value="car" name="transport_type_go">
                            <label for="car">car</label>
                        </div>

                        <div>
                            <input type="checkbox" value="train" name="transport_type_go">
                            <label for="train">train</label>
                        </div>

                        <div>
                            <input type="checkbox" value="walk" name="transport_type_go">
                            <label for="walk">walk</label>
                        </div>

                        <div>
                            <input type="checkbox" value="motorcycle" name="transport_type_go">
                            <label for="motorcycle">motorcycle</label>
                        </div>

                        <div>
                            <input type="checkbox" value="bike" name="transport_type_go">
                            <label for="bike">bike</label>
                        </div>

                        <div>
                            <input type="checkbox" value="boat" name="transport_type_go">
                            <label for="boat">boat</label>
                        </div>
                    </fieldset>
                    <div class="wrap-2">
                    <label id="ticketUrl_go" for="ticketUrl_go">Ticket number</label>
                    <input class="input" name="ticketUrl_go" type="text" placeholder="http://">
                    <label for="ticket_price_go">Price</label>
                    <input class="input" name="ticket_price_go" type="number">
                    </div>
                </div>
                <div class="inside-box to-visit">
                    <h3>Visiting</h3>
                    <div class="wrap-1">
                    <label for="dateArrive">Date:</label>
                    <input type="datetime-local" id="dateArrive" name="dateArrive" value="{{#now}}{{/now}}"
                        min="2020-01-07T00:00" max="2050-06-14T00:00">
                    <label for="toCity">City:</label>
                    <input class="input" name="toCity" type="text">
                    <label for="toCountry">Country:</label>
                    <input class="input country" name="toCountry" type="text" list="fromCountry"required>
                    <datalist class="input listCountry" name="fromCountry" id="fromCountry">
                    </datalist>
                    </div>
                    <fieldset>
                        <legend>To return:</legend>

                        <div>
                            <input type="checkbox" value="plane" name="transport_type_return">
                            <label for="plane">plane</label>
                        </div>

                        <div>
                            <input type="checkbox" value="bus" name="transport_type_return">
                            <label for="bus">bus</label>
                        </div>

                        <div>
                            <input type="checkbox" value="car" name="transport_type_return">
                            <label for="car">car</label>
                        </div>

                        <div>
                            <input type="checkbox" value="train" name="transport_type_return">
                            <label for="train">train</label>
                        </div>

                        <div>
                            <input type="checkbox" value="walk" name="transport_type_return">
                            <label for="walk">walk</label>
                        </div>

                        <div>
                            <input type="checkbox" value="motorcycle" name="transport_type_return">
                            <label for="motorcycle">motorcycle</label>
                        </div>

                        <div>
                            <input type="checkbox" value="bike" name="transport_type_return">
                            <label for="bike">bike</label>
                        </div>

                        <div>
                            <input type="checkbox" value="boat" name="transport_type_return">
                            <label for="boat">boat</label>
                        </div>
                    </fieldset>
                    <div class="wrap-2">
                    <label id="ticketUrl_return" for="ticketUrl_return">Ticket number</label>
                    <input class="input" name="ticketUrl_return" type="text" placeholder="http://">
                    <label for="ticket_price_return">Price</label>
                    <input class="input" name="ticket_price_return" type="number">
                    </div>
                </div>
            </div>
            <div class="box flex accomodation">
                    <h3>Accomodation</h3>

                    <label for="type_accommodation">Type:</label>
                    <select name="type_accommodation" id="type_accommodation" class="input">
                        <option value="hotel">Hotel</option>
                        <option value="house">House</option>
                        <option value="villa">Villa</option>
                        <option value="tent">Tent</option>
                        <option value="house">House</option>
                        <option value="private room">Private room</option>
                        <option value="hostel">Hostel</option>
                        <option value="car">Car</option>
                        <option value="beach">Beach</option>
                    </select>

                    <h4>Adress:</h4>
                    <div class="adress">
                        <label for="accommodations_number">number</label>
                        <input class="input" name="accommodations_number" type="number" placeholder="ex: 3">
                        <label for="accommodations_street_type">Type of street:</label>
                        <input class="input" name="accommodations_street_type" type="text" placeholder="ex: Avenue">
                        <label for="accommodations_street">Street name:</label>
                        <input class="input" name="accommodations_street" type="text" placeholder="ex: Sebastian Elcano">
                        <label for="accommodations_city">City:</label>
                        <input class="input" name="accommodations_city" type="text" placeholder="ex: Santiago">
                        <label for="accommodations_url">URL link:</label>
                        <input class="input" name="accommodations_url" type="text" placeholder="http://">
                        <label for="accommodations_price">Price:</label>
                        <div><input class="input" name="accommodations_price" type="number"><span> EUR</span></div>
                    </div>

            </div>
            <div class="box flex">
                <div class="inside-box activities">
                    <h3>Activities</h3>
                    <div class="activities-list">
                    <input class="input" name="activity" type="text" placeholder="example: Eiffel Tower">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    <input class="input" name="activity" type="text">
                    </div>

                <h3>Don't forget</h3>
                    <div class="dont-forget">
                    <input class="input" name="necessaryThings" type="text" placeholder="example: sunglasses">
                    <input class="input" name="necessaryThings" type="text">
                    <input class="input" name="necessaryThings" type="text">
                    <input class="input" name="necessaryThings" type="text">
                    <input class="input" name="necessaryThings" type="text">
                    <input class="input" name="necessaryThings" type="text">
                    </div>

                <h3>Notes</h3>
                    <textarea id="notes" name="notes" rows="5" cols="45" placeholder="Anything you want to add ...">
                    </textarea>
                </div>
            </div>
        </div>
        <button class="begin-trip-btn">Let your trip begin !</button>
    </div>
</form>